<h2>{{ section.settings.title }}</h2>

{% schema %}
  {
    "name": "demo",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "demo-text",
        "default": "Title"
      }
    ],
    "presets": [
      {
        "name": "demo"
      }
    ]
  }
{% endschema %}
